@use "../sass/base" as *;

.header {
  background-color: $cream;
  padding: 1.9rem 0 1rem;
  border-bottom: 1px solid hsl(0, 1%, 73%);

  &_container {
    margin: 0 auto;
    width: $container;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo h2 {
    font-family: $roboto;
    font-weight: 700;
    font-size: 3rem;
    padding-left: 1.2rem;
  }

  &__nav {
    display: none;
  }

  &__ham {
    padding-right: 2rem;
    cursor: pointer;

    @include respond(tab) {
      display: none;
    }
  }


    @include respond(tab) {

      &__nav {
        display: flex;
        width: 77%;
        max-width: 55rem;
        justify-content: space-between;
        align-items: center;

        &--links {
          font-size: 1.6rem;
          font-family: $roboto;
          font-weight: 400;
          display: flex;
          gap: 1.4rem;
        }

        &--signing {
          font-size: 1.7rem;
          font-family: $roboto;
          font-weight: 700;
          display: flex;
          align-items: center;
          gap: 1.5rem;

          &__btn {
            border: none;
            cursor: pointer;
            background: transparent;
          }
          
          &__btn-up {
            border-radius: 7px;
            padding: 1.1rem 1.4rem;
            border: none;
            background-color: $purple;
            cursor: pointer;
            opacity: .85;
            transition: opacity 300ms ease-in;
            &:hover{
              opacity: 1;
            }

            & a {
              color: white;
              text-decoration: none;
              font-weight: 700;
            }
          }
        }
      }
    }
}




.footer {
  background-color: $cream;

  &__container{
    width: 90%;
    max-width: 85rem;
    margin-inline: auto;
    padding: 5rem 0;
    // display: flex;
    // flex-direction: column;
  }

  &__heading{
    font-size: 1.8rem;
    font-weight: 700;
    font-family: $roboto;
  }

  &__list {
    margin-top: .4rem;
    
    &--item {
      padding: .2rem 0;
      font-family: $roboto;
      font-weight: 400;
      font-size: 1.3rem;
    }
  }

  &__fiber {

    & p {
      font-size: 1.4rem;
      font-weight: 400;
      font-family: $roboto;
    }

    &--gap {
      margin-top: 1rem;
    }
  }
  
  &__sitemap {
    margin-top: 2rem;
  }
  
  &__resources{
    margin-top: 2rem;
  }
  
  &__company{
    margin-top: 2rem;
  }
  
  &__portfolios{
    margin-top: 2rem;
  }


  @include respond(tabl) {

    &__container {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &__heading {
      font-size: 1.8rem;
    }

    &__list {
      margin-top: .4rem;

      &--item {
        padding: .2rem 0;
        font-family: $roboto;
        font-weight: 400;
        font-size: 1.3rem;
      }
    }

    &__fiber {
      width: 35%;

      & p {
        font-size: 1.2rem;
      }

      &--gap {
        margin-top: 1.4rem;
      }
    }

    &__sitemap {
      margin-top: 0;
    }

    &__resources {
      margin-top: 0;
    }

    &__company {
      margin-top: 0;
    }

    &__portfolios {
      margin-top: 0;
    }
  }
}