/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

ul {
  list-style: none;
  padding: 0;
}

.header {
  background-color: rgba(218, 215, 205, 0.5529411765);
  padding: 1.9rem 0 1rem;
  border-bottom: 1px solid hsl(0deg, 1%, 73%);
}
.header_container {
  margin: 0 auto;
  width: min(90%, 100rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo h2 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  padding-left: 1.2rem;
}
.header__nav {
  display: none;
}
.header__ham {
  padding-right: 2rem;
  cursor: pointer;
}
@media (min-width: 600px) {
  .header__ham {
    display: none;
  }
}
@media (min-width: 600px) {
  .header__nav {
    display: flex;
    width: 77%;
    max-width: 55rem;
    justify-content: space-between;
    align-items: center;
  }
  .header__nav--links {
    font-size: 1.6rem;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    display: flex;
    gap: 1.4rem;
  }
  .header__nav--signing {
    font-size: 1.7rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .header__nav--signing__btn {
    border: none;
    cursor: pointer;
    background: transparent;
  }
  .header__nav--signing__btn-up {
    border-radius: 7px;
    padding: 1.1rem 1.4rem;
    border: none;
    background-color: rgba(40, 11, 202, 0.7490196078);
    cursor: pointer;
    opacity: 0.85;
    transition: opacity 300ms ease-in;
  }
  .header__nav--signing__btn-up:hover {
    opacity: 1;
  }
  .header__nav--signing__btn-up a {
    color: white;
    text-decoration: none;
    font-weight: 700;
  }
}

.footer {
  background-color: rgba(218, 215, 205, 0.5529411765);
}
.footer__container {
  width: min(90%, 100rem);
  margin-inline: auto;
  padding: 5rem 0;
}
.footer__heading {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.footer__list {
  margin-top: 0.4rem;
}
.footer__list--item {
  padding: 0.2rem 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.3rem;
}
.footer__fiber p {
  font-size: 1.4rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.footer__fiber--gap {
  margin-top: 1rem;
}
.footer__sitemap {
  margin-top: 2rem;
}
.footer__resources {
  margin-top: 2rem;
}
.footer__company {
  margin-top: 2rem;
}
.footer__portfolios {
  margin-top: 2rem;
}
@media (min-width: 850px) {
  .footer__container {
    width: min(90%, 100rem);
    display: flex;
    justify-content: space-between;
  }
  .footer__heading {
    font-size: 1.8rem;
  }
  .footer__list {
    margin-top: 0.4rem;
  }
  .footer__list--item {
    padding: 0.2rem 0;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
  }
  .footer__fiber {
    width: 35%;
  }
  .footer__fiber p {
    font-size: 1.2rem;
  }
  .footer__fiber--gap {
    margin-top: 1.4rem;
  }
  .footer__sitemap {
    margin-top: 0;
  }
  .footer__resources {
    margin-top: 0;
  }
  .footer__company {
    margin-top: 0;
  }
  .footer__portfolios {
    margin-top: 0;
  }
}

.container__cream {
  background-color: rgba(218, 215, 205, 0.5529411765);
}

.create-portfolio {
  padding: 3rem 0;
  display: flex;
  flex-direction: column;
}
.create-portfolio__text {
  order: 4;
  width: 75%;
  margin-inline: auto;
}
.create-portfolio__text--rating {
  display: none;
}
.create-portfolio__text--h1 {
  margin-top: 1.3rem;
  font-size: 4rem;
  line-height: 1.1;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  width: 55%;
}
.create-portfolio__text--para {
  margin-top: 0.7rem;
  font-size: 1.5rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 85%;
}
.create-portfolio__text--click {
  margin-top: 1.1rem;
  display: flex;
  flex-direction: column;
}
.create-portfolio__text--click-btn {
  background-color: rgba(40, 11, 202, 0.7490196078);
  color: white;
  padding: 1.3rem 1.1rem;
  border-radius: 6px;
  font-size: 1.3rem;
  font-family: "Inter", sans-serif;
  border: none;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 300ms ease;
}
.create-portfolio__text--click-btn:hover {
  opacity: 1;
}
.create-portfolio__text--click-link {
  border: none;
  font-size: 1.5rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-top: 1rem;
  background: transparent;
}
.create-portfolio__text--click-link a {
  color: rgba(40, 11, 202, 0.7490196078);
}
.create-portfolio__text--click-link a:hover {
  text-decoration: none;
}
.create-portfolio__text--check {
  margin-top: 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.create-portfolio__text--check-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.create-portfolio__text--check-img {
  width: 2rem;
}
.create-portfolio__text--check-para {
  font-size: 1.5rem;
  font-weight: 400;
  font-weight: "Inter", sans-serif;
}
.create-portfolio__img-box {
  order: 1;
  margin-inline: auto;
  width: 80%;
  max-width: 40rem;
}
.create-portfolio__img {
  margin-top: -4.5rem;
}
@media (min-width: 600px) {
  .create-portfolio {
    flex-direction: row;
    align-items: center;
    width: min(90%, 100rem);
    margin-inline: auto;
  }
  .create-portfolio__text {
    order: 1;
    width: 75%;
    margin-inline: auto;
  }
  .create-portfolio__text--rating {
    display: flex;
    align-items: center;
  }
  .create-portfolio__text--rating img {
    width: 1.2rem;
  }
  .create-portfolio__text--rating img:not(:first-child) {
    margin-left: 0.4rem;
  }
  .create-portfolio__text--rating h5 {
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    margin-left: 0.7rem;
  }
  .create-portfolio__text--h1 {
    margin-top: 0rem;
    font-size: 2.4rem;
    width: 100%;
  }
  .create-portfolio__text--para {
    width: 100%;
  }
  .create-portfolio__text--click {
    flex-direction: row;
    gap: 1.9rem;
  }
  .create-portfolio__text--click-btn {
    padding: 1rem 2rem;
  }
  .create-portfolio__text--click--click {
    margin-top: 1.1rem;
    display: flex;
    flex-direction: column;
  }
  .create-portfolio__text--click--click-btn {
    background-color: rgba(40, 11, 202, 0.7490196078);
    color: white;
    padding: 1.3rem 1.1rem;
    border-radius: 6px;
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    border: none;
    cursor: pointer;
  }
  .create-portfolio__text--click--click-link {
    border: none;
    font-size: 1.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    margin-top: 1rem;
    cursor: pointer;
  }
  .create-portfolio__text--click--click-link a {
    color: rgba(40, 11, 202, 0.7490196078);
  }
  .create-portfolio__text--check {
    flex-direction: row;
    gap: 1rem;
  }
  .create-portfolio__text--check-container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
  .create-portfolio__text--check-img {
    width: 1.5rem;
  }
  .create-portfolio__text--check-para {
    font-size: 1.3rem;
  }
  .create-portfolio__img-box {
    order: 6;
    width: 60%;
  }
  .create-portfolio__img {
    margin-top: 0rem;
  }
}
@media (min-width: 600px) and (min-width: 600px) {
  .create-portfolio {
    padding-bottom: 8rem;
    flex-direction: row;
    align-items: center;
    width: min(90%, 100rem);
    gap: 2rem;
    margin-inline: auto;
  }
  .create-portfolio__text {
    order: 1;
    width: 75%;
    margin-inline: auto;
  }
  .create-portfolio__text--rating {
    display: flex;
    align-items: center;
  }
  .create-portfolio__text--rating img {
    width: 1.2rem;
  }
  .create-portfolio__text--rating img:not(:first-child) {
    margin-left: 0.4rem;
  }
  .create-portfolio__text--rating h5 {
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
    margin-left: 0.7rem;
  }
  .create-portfolio__text--h1 {
    margin-top: 0rem;
    font-size: 2.4rem;
    width: 100%;
  }
  .create-portfolio__text--para {
    width: 100%;
  }
  .create-portfolio__text--click {
    flex-direction: row;
    gap: 1.9rem;
  }
  .create-portfolio__text--click-btn {
    padding: 1rem 2rem;
  }
  .create-portfolio__text--click-link {
    margin-top: 0rem;
  }
  .create-portfolio__text--check {
    flex-direction: row;
    gap: 1rem;
  }
  .create-portfolio__text--check-container {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
  .create-portfolio__text--check-img {
    width: 1.5rem;
  }
  .create-portfolio__text--check-para {
    font-size: 1.3rem;
  }
  .create-portfolio__img-box {
    order: 6;
    width: 60%;
  }
  .create-portfolio__img {
    margin-top: 0rem;
  }
}

.employability {
  width: min(90%, 100rem);
  margin-inline: auto;
  padding-block: 5rem;
}
.employability__header {
  margin-top: 4.5rem;
}
.employability__header--para {
  color: rgba(40, 11, 202, 0.7490196078);
  font-weight: 700;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
}
.employability__header--h1 {
  font-size: 2.3rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  line-height: 1.2;
}
.employability__box {
  margin-top: 1.6rem;
}
.employability__box--img {
  width: 2rem;
}
.employability__box--h4 {
  margin-top: 0.7rem;
  font-size: 1.3rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.employability__box--para {
  margin-top: 1rem;
  font-size: 1.3rem;
  font-weight: 400;
  font-family: "Inter", sans-serif;
  width: 90%;
}
@media (min-width: 600px) {
  .employability__header--para {
    font-size: 1.6rem;
  }
  .employability__header--h1 {
    font-size: 3rem;
    width: 65%;
  }
  .employability__boxes {
    margin-top: 2rem;
    display: flex;
  }
  .employability__box--img {
    width: 2.4rem;
  }
  .employability__box--h4 {
    font-size: 1.6rem;
  }
  .employability__box--para {
    font-size: 1.3rem;
    width: 90%;
  }
}

.diversity {
  margin-top: 5.5rem;
  background-color: rgba(40, 11, 202, 0.7490196078);
  border-radius: 9px;
  padding-block: 4rem 0;
  padding-inline: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.diversity__text {
  padding: 3rem 2.2rem;
  width: 90%;
  margin-inline: auto;
}
.diversity__text--h2 {
  color: white;
  font-size: 2.6rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
}
.diversity__text--p {
  color: white;
  font-size: 1.4rem;
  font-weight: normal;
  font-family: "Inter", sans-serif;
}
.diversity__text--btn {
  background-color: white;
  margin-top: 1.1rem;
  color: rgba(40, 11, 202, 0.7490196078);
  width: 100%;
  padding: 1.2rem 1rem;
  font-size: 1.6rem;
  font-weight: 700;
  font-family: "Inter", sans-serif;
  border-radius: 7px;
  border: none;
}
.diversity__img-box {
  width: 90%;
  margin-inline: auto;
  border-radius: 2.6rem;
  padding: 0 3rem 0 3rem;
}
@media (min-width: 600px) {
  .diversity {
    flex-direction: row;
    align-items: center;
    gap: 0rem;
  }
  .diversity__text {
    padding: 3rem 2.2rem;
    margin-inline: auto;
  }
  .diversity__text--h2 {
    font-size: 2.6rem;
  }
  .diversity__text--p {
    font-size: 1.4rem;
    font-weight: normal;
  }
  .diversity__text--btn {
    margin-top: 1.1rem;
    color: rgba(40, 11, 202, 0.7490196078);
    width: 14rem;
    padding: 1.2rem 0.7rem;
    cursor: pointer;
    opacity: 0.85;
    transition: opacity 300ms ease-in;
  }
  .diversity__text--btn:hover {
    opacity: 1;
  }
  .diversity__img-box {
    margin-inline: auto;
    border-radius: 2.6rem;
    padding: 0 3rem 0 3rem;
  }
}

.testimonial {
  margin-top: 4.8rem;
}
.testimonial__box {
  border: 1px solid gray;
  border-radius: 9px;
  padding: 1.8rem;
  margin-bottom: 2.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial__user {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.testimonial__user--img {
  width: 4.5rem;
}
.testimonial__user--h5 {
  font-size: 1.4rem;
  color: rgba(40, 11, 202, 0.7490196078);
  font-family: "Inter", sans-serif;
  font-weight: 700;
}
.testimonial__user--para {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  margin-top: -0.4rem;
}
.testimonial__para {
  margin-top: 1.6rem;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.testimonial__btn {
  margin-top: 1.6rem;
  width: 100%;
  background-color: transparent;
  color: rgba(40, 11, 202, 0.7490196078);
  padding: 1.3rem 1rem;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  border: 1px solid rgba(218, 215, 205, 0.9176470588);
  border-radius: 9px;
  cursor: pointer;
  transition: all 300ms ease-in;
}
.testimonial__btn:hover {
  border: 1px solid gray;
  color: #280bca;
  background: rgba(0, 0, 0, 0.048);
}
@media (min-width: 1000px) {
  .testimonial {
    display: flex;
    gap: 3.5rem;
    overflow-x: scroll;
    width: 118rem;
    scrollbar-gutter: blue;
    scrollbar-thumb: blue;
  }
  .testimonial__box {
    padding: 1.5rem 1.2rem;
    margin-bottom: 0rem;
  }
  .testimonial__btn {
    margin-bottom: 0.7rem;
  }
}

.sign {
  margin-top: 2.5rem;
  display: flex;
  justify-content: space-between;
  width: min(90%, 100rem);
  margin: 0 auto;
}
.sign__text {
  width: 47%;
  margin-inline: auto;
  padding: 2rem;
}
.sign__text--logo {
  font-size: 2rem;
  font-family: "Inter", sans-serif;
  margin-bottom: 3.8rem;
}
.sign__text--heading {
  font-size: 3.4rem;
  line-height: 1.1;
  font-family: "Inter", sans-serif;
  margin-bottom: 1.8rem;
}
.sign__text--log {
  font-family: "Inter", sans-serif;
  margin-top: 1.1rem;
  text-align: center;
  font-size: 1.5rem;
}
.sign__text--log-link {
  text-decoration: none;
  padding-left: 7px;
}
.sign__form--group {
  margin-bottom: 2.5rem;
  position: relative;
}
.sign__form--input {
  width: 100%;
  padding: 1.5rem 1.1rem;
  border-radius: 7px;
  border: 1px solid rgba(128, 128, 128, 0.425);
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
}
.sign__form--info {
  display: flex;
  align-items: flex-start;
  gap: 5px;
  width: 90%;
  margin-bottom: 2.5rem;
}
.sign__form--info-check {
  cursor: pointer;
  margin-top: 5px;
  color: rgba(128, 128, 128, 0.425);
}
.sign__form--info-para {
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.sign__form--info-link {
  color: rgba(40, 11, 202, 0.7490196078);
  font-weight: 500;
}
.sign__form--btn {
  width: 100%;
  padding: 1.8rem 1rem;
  font-size: 1.4rem;
  color: white;
  background-color: rgba(40, 11, 202, 0.7490196078);
  font-weight: 700;
  font-family: "Inter", sans-serif;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}
.sign__img-box {
  width: 47%;
}

label {
  display: block;
  font-size: 1.6rem;
  font-weight: 600;
  font-family: "Inter", sans-serif;
  margin-bottom: 0.3rem;
}

.password--img {
  cursor: pointer;
  position: absolute;
  left: 90%;
  top: 50%;
}/*# sourceMappingURL=style.css.map */